version: '3.9'
services:
  wp:
    container_name: wp
    image: wordpress:php7.4
    restart: always
    working_dir: /var/www/html
    ports:
      - '8080:80'
    depends_on:
      - db
    volumes:
      - wpData:/var/www/html
      - ./hepere:/var/www/html/wp-content/themes/hepere
    environment:
      TZ: 'Asia/Tokyo'
      WORDPRESS_DB_HOST: 'db:3306'
      WORDPRESS_DB_USER: 'root'
      WORDPRESS_DB_PASSWORD: 'wordpress'
      WORDPRESS_DB_NAME: 'wordpress_db'
      WORDPRESS_DEBUG: 1
  db:
    container_name: db
    image: mariadb:10.5
    command: mysqld --character-set-server=utf8 --collation-server=utf8_general_ci
    volumes:
      - dbData:/var/lib/mysql
    ports:
      - '3306:3306'
    environment:
      MYSQL_DATABASE: 'wordpress_db'
      MYSQL_ROOT_PASSWORD: 'wordpress'
      MYSQL_USER: 'root'
      MYSQL_PASSWORD: 'wordpress'
  wpcli:
    container_name: wpcli
    image: wordpress:cli-php7.4
    working_dir: /var/www/html
    depends_on:
      - wp
      - db
    volumes:
      - wpData:/var/www/html
      - ./hepere:/var/www/html/wp-content/themes/hepere
    command: "--info"
    user: xfs

volumes:
  dbData:
    driver: local
  wpData:
    driver: local
